
.game img {
    max-width: 35px;
    max-height: 35px;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #1c1c1c;
    padding: 5px 15px;
    color: white;
    min-width: 270px;
    border-bottom: solid 1px lime;
    max-height: 80px;
    text-decoration: none;
    margin: auto;
  }
  .game span {
    margin: auto;
  }
  .game_info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .game:hover {
    background: linear-gradient(to right, #04F5FF, #E90052)
  }
  
  .game span {
    position: relative;
    bottom: 10px;
    text-decoration: none;
  }
  .game p {
    background-color: #38003C;
    padding: 5px;
    text-decoration: none;
  }
  .matchday {
    color: white;
    font-size: 17px;
  }
  
  .game :hover {
    background-color: linear-gradient(to right,#04F5FF, #E90052);
  }
  .games {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    width: 100%;
    grid-area: games;
    overflow: auto;
    min-width: 270px;
  }
  
  .home {
    display: grid;
    grid-template-areas: 'games news news table';
    padding: 30px;
    grid-column-gap: 20px;
  }
  
  .news {
    grid-area: news;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    height: fit-content;
    grid-gap: 1rem;
  }
  
  .article {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
  
  .news_img {
    width: 100%;
  }
  
  
  
  .article a {
    color: #b9b9b9;
    text-decoration: none;
    font-size: 1.3rem;
  }
  
  .article a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .matchday {
    font-size: 20px;
    max-width: 300px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .matchday:not(:first-child){
    margin-top: 20px;
  }

  .matchday {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .refresh_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }
  .game_container {
    text-decoration: none;
    width: 100%;
  }
  
  .art_container {
    height: fit-content;
  }



  @media (max-width: 920px){
    .home {
      grid-template-areas: 'games news news';
    }
  }

  @media (max-width: 810px){
    .home {
      grid-template-areas: 'games'
                            'news'
    }
    .games {
      min-width: 100%;
      align-items:center;
    }
    .matchday {
      max-width: 300px;
    }
  }
  @media (max-width: 500px){
    .home {
      padding: 10px 0;
    }
    .game_container {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0;
    }
    .game {
      width: 100%;
      margin: none;
      padding: none;
    }
    .game_info {
      width: fit-content;
      margin: auto;
      padding: none;
    }
    .news {
      margin: 0px;
    }
  }
  
  @media (max-width: 340px){
    .games {
      font-size: 0.8em;
    }
  }