.navbar {
    width: 100%;
    background-color: #1c1c1c;
    overflow: auto;
    display: flex;
    align-items: center;
    min-width: 100%;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    height: 100%;
    color: #b9b9b9;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a :not(img):hover{
    border-bottom: 2px solid white;
  }
  
  .pl_logo {
    max-width: 100px;
    max-height: 50px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    color: white;
  }

  .mobile {
    display: none;
    color: white;
    font-size: 35px;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
  }
  
  
  .dropdown {
    background-color: black;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 70px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
  }
  
  .dropdown a {
    color: white;
    display: flex;
    justify-content: flex-start;
    font-size: 1.3em;
  }

  @media (max-width: 720px){
    .wide {
      display: none;
    }
    .mobile {
      display: block;
    }
  }

 #logo {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
 }

 select {
   background-color: gray;
   padding: 10px;
   color: white;
   outline: none;
   font-size: 16px;
   margin: 0 10px;
 }