#error_img {
    width: 100%;
}

.white {
    color: white;
}
.grey {
    color: #333333 !important;
}

h1 {
    margin: 0;
}

.club_info {
    width: 95%;
    margin: auto;
    margin-top: 2vw;
    height: fit-content;
    padding: 30px 0;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #1c1c1c;
}

.club_img_wrapper {
    width: fit-content;
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.club_img_wrapper img {
    max-width: 150px;
    margin: 0;
}

.club_info_container {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.next_fixture {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.next_fixture h2 {
    color: white;
    margin: 0;
    margin-bottom: 10px;
}

.club_fixture {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #1c1c1c;
    border-bottom: solid 1px lime;
    text-decoration: none;
}

#club_fixture_time {
    background-color: rgb(50, 50, 50);
    padding: 5px;
    font-weight: normal;
}

.club_logo {
    max-width: 30px;
}

.club_fixture_info {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.club_current_match {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.club_wide {
    display: block;
    display: flex;
    align-items: center;
}
.club_small {
    display: none;
}
@media(max-width: 630px){
    .club_img_wrapper {
        max-width: 120px;
        margin-left: 0;
    }
    .club_img_wrapper img {
        max-width: 100px;
    }
    .club_info_container {
        margin-left: 0;
        margin-top: 1rem;
    }
    .club_info {
        flex-direction: column;
        height: fit-content;
        padding: 30px 0;
    }
    .club_wide {
        display: none;
    }
    .club_fixture_info {
        margin: auto;
    }
    .club_small {
        display: block;
        color: white;
    }
}

@media (max-width: 360px){
    .club_fixture {
        font-size: 0.8em !important;
    }
    .club_info {
        font-size: 0.8em;
    }
    .club_info_container {
        margin: 0;
        margin-top: 10px;
    }
    .next_fixture {
        width: 100%;
    }
}
